@import '../../../../scss/global.scss';

#registered-website {
    display: grid;
    grid-template-columns: 1fr;

    button {
        padding: 0 .8rem;
        border: 1px solid $border-color;
        border-left: 0;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
        background-color: lighten($border-color, 3%);
        text-align: center;
    }

    @media (min-width: 40rem) {
        align-self: center;
    }
}