@import '../../scss/global.scss';

.selector-wrapper {
    position: relative;
    border: .1rem solid $border-color;
    cursor: pointer;
  
    select {
      padding: 1.2rem 1rem;
      width: 100%;
      border: .1rem solid transparent;
      background-color: transparent;
      font-size: 1.4rem;
      appearance: none;
      -webkit-appearance: none;
      outline: none;
    }
  
    &:after {
      position: absolute;
      top: 1.2rem;
      right: 1.2rem;
      font-family: FontAwesome;
      content: '\f0d7';
      pointer-events: none;
    }
  }
