@import 'variables';
@import 'font';

html {
    font-size: map-get($font, base-size);
}

body {
    height: 100vh;
    background-color: map-get($color, background);
    font-family: map-get($font, family);
    color: map-get($font, color);
}

.hidden {
    display: none;
}